* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
nav,
main,
section,
footer {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

main {
    width: 80vw;
}

aside {
    float: right;
    width: 20vw; 
    position: sticky;
    top: 0;
}

section img {
    float: left; 
    margin-right: 10px;
}

section:nth-child(even) img {
    float: right; 
    margin-left: 10px;
}

figure img {
    max-width: 100%;
    height: auto;
}

/* Positioning the logo */
header h1 {
    position: absolute;
    top: 10px;
    left: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    padding: 10px;
    width: 100%;
    z-index: 1000; 
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

header, footer, section, nav {
    background-color: #7e0943; 
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6
 {
  font-family: "Roboto", sans-serif
 
 }


p {
    font-family: Arial, sans-serif; 
    font-weight: normal; 
    color: rgb(228, 168, 168); 
    line-height: 1.5; 
}

a:link {
    color: #091109; 
    text-decoration: none; 
}

a:visited {
    color: #008000; 
}

a:hover {
    color: #ea00fff3; 
}

.header-bg {
    background-color: #37a52d91; 
}

.footer-bg {
    background-color: #ffee00; 
}

.main-bg {
    background-color: #f0f321f5; 
}

.nav-bg {
    background-color: #f44336; 
}

.special-text {
    font-weight: bold; 
    color: #e60000; 
}


h1 {
    background: linear-gradient(45deg, #0f0b0b, #fad0c4); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

h2 {
    color: #ff0; 
}

h3 {
    color: #ff4500; 
}

h4 {
    color: #ff8c00; 
}

h5 {
    color: #ff8c00; 
}

h6 {
    color: #80732a; 

}

p {
    font-family: Arial, sans-serif;
    color: rgb(228, 168, 168);
}
