header, footer, section, nav {
    background-color: #7e0943; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    color: rgba(238, 45, 45, 0.884); 
}

p {
    font-family: Arial, sans-serif; 
    font-weight: normal; 
    color: rgb(228, 168, 168); 
    line-height: 1.5; 
}

a:link {
    color: #00ff00; 
    text-decoration: none; 
}

a:visited {
    color: #008000; 
}

a:hover {
    color: #7fff00; 
}

.header-bg {
    background-color: #4caf50; 
}

.footer-bg {
    background-color: #ff9800; 
}

.main-bg {
    background-color: #2196f3; 
}

.nav-bg {
    background-color: #f44336; 
}

.special-text {
    font-weight: bold; 
    color: #e60000; 
}


h1 {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

h2 {
    color: #ff0; 
}

h3 {
    color: #ff4500; 
}

h4 {
    color: #ff8c00; 
}

h5 {
    color: #ff8c00; 
}

h6 {
    color: #80732a; 

}

p {
    font-family: Arial, sans-serif;
    color: rgb(228, 168, 168);
}
